:root {
	--schedule-height: 78vh;
	--sixth: #09425D;
	--fifth: #0D5C83;
	--fourth: #1176A8;
	--third: #6AA9C9;
	--second: #7BB3CF;
	--first: #B0D1E2;
	--non-class: #E5F0F5;
	/*
	--sixth: #1176A8;
	--fifth: #2F87B3;
	--fourth: #4D98BE;
	--third: #6AA9C9;
	--second: #88BBD4;
	--first: #A6CCDE;
	--non-class: #E1EEF4;
	*/
	--navy-blue: hsla(239, 94%, 19%, 1);
	--dark-cornflower-blue: hsla(214, 97%, 27%, 1);
	--star-command-blue: hsla(201, 100%, 36%, 1);
	--blue-green: hsla(195, 100%, 39%, 1);
	--cerulean-crayola: hsla(190, 100%, 42%, 1);
	--sky-blue-crayola: hsla(190, 74%, 59%, 1);
}

* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
	font-size: 2vmin;
	padding: 0;
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: block;
}

h1 {
	text-align: center;
	margin: .5em 0;
}

#root {
	display: grid;
	grid-gap: 0;
	grid-template-rows: 8vh 1fr;
	grid-template-areas:
		"header"
		"schedule";
}

header {
	grid-area: header;
}

.schedule {
	padding: 0 .5em;
	grid-area: schedule;
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
	box-sizing: border-box;
}

.schedule[class$="day"] {
	width: 50%;
	justify-self: center;
}

.day {
	width: 100%;
	padding: 0 .5em;
}

.day h2 {
	font-size: 1.35em;
	padding-left: .5em;
}

.schedule[class$="day"] .day {
	display: none;
}

.schedule.monday .day.monday {
	display: block;
}

.schedule.tuesday .day.tuesday {
	display: block;
}

.schedule.wednesday .day.wednesday {
	display: block;
}

.schedule.thursday .day.thursday {
	display: block;
}

.schedule.friday .day.friday {
	display: block;
}

.period {
	padding: .5em .75em;
	margin-bottom: calc((5 / 410) * var(--schedule-height));
	background: #eee;
	position: relative;
}

.period h3, .period h4 {
	font-size: 1.1em;
	padding: 0;
	margin: 0;
	top: .5em;
	left: .75em;
	position: absolute;
	display: inline-block;
}

.period h4 {
	text-align: right;
	right: .75em;
	position: absolute;
	display: inline-block;
}

.period h4:nth-of-type(2) {
	top: auto;
	bottom: .5em;
}

.period.lunch h4:nth-of-type(2), .period.homeroom h4:nth-of-type(2) {
	display: none;
}

.period.length-20 h3, .period.length-20 h4 {
	top: .25em;
}

.first {
	background: var(--first);
}

.second {
	background: var(--second);
}

.third {
	background: var(--third);
}

.fourth {
	color: white;
	background: var(--fourth);
}

.fifth {
	color: white;
	background: var(--fifth);
}

.sixth {
	color: white;
	background: var(--sixth);
}

.homeroom, .lunch, .office-hours {
	background: var(--non-class);
}

.length-75 {
	height: calc((75 / 410) * var(--schedule-height));
}

.length-55 {
	height: calc((55 / 410) * var(--schedule-height));
}

.length-35 {
	height: calc((35 / 410) * var(--schedule-height));
}

.length-25 {
	height: calc((25 / 410) * var(--schedule-height));
}

.length-20 {
	height: calc((20 / 410) * var(--schedule-height));
}
