:root {
	--schedule-height: 90vh;
	--navy-blue: hsla(239, 94%, 19%, 1);
	--dark-cornflower-blue: hsla(214, 97%, 27%, 1);
	--star-command-blue: hsla(201, 100%, 36%, 1);
	--blue-green: hsla(195, 100%, 39%, 1);
	--cerulean-crayola: hsla(190, 100%, 42%, 1);
	--sky-blue-crayola: hsla(190, 74%, 59%, 1);
}

* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
	font-size: 16px;
	padding: 0;
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: block;
}

h1 {
	text-align: center;
	margin: .5em 0;
}

#root {
	height: 100vh;
	padding: 1em 2em;
	display: flex;
	flex-direction: column;
}

.schedule {
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
	box-sizing: border-box;
}

.day {
	width: 100%;
	padding: 0 .5em;
}

.day h2 {
	font-size: 1.35em;
	padding-left: .5em;
}

.period {
	padding: .5em .75em;
	margin-bottom: .75vh;
	background: #eee;
}

.period h3 {
	font-size: 1.35em;
	padding: 0;
	margin: 0 0 .15em 0;
}

.period h4 {
	font-size: 1.1em;
	padding: 0;
	margin: 0;
}

.first {
	background: var(--sky-blue-crayola);
}

.second {
	background: var(--cerulean-crayola);
}

.third {
	background: var(--blue-green);
}

.fourth {
	color: white;
	background: var(--star-command-blue);
}

.fifth {
	color: white;
	background: var(--dark-cornflower-blue);
}

.sixth {
	color: white;
	background: var(--navy-blue);
}

.length-75 {
	height: calc((75 / 410) * var(--schedule-height));
}

.length-55 {
	height: calc((55 / 410) * var(--schedule-height));
}

.length-35 {
	height: calc((35 / 410) * var(--schedule-height));
}

.length-25 {
	height: calc((25 / 410) * var(--schedule-height));
}

.length-20 {
	height: calc((20 / 410) * var(--schedule-height));
}
